:root {
  --mainColor: #eaeaea;
  --secondaryColor: #ffffff;
  --mainText: black;
  --borderColor: black;
}

html,
body {
  padding: 0;
  margin: 0;
}
body * {
  transition: 0.2s;
}
.web-wrapper {
  z-index: 1;
  /* opacity: 1; */
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: "Volkhov", serif;
  font-weight: 500;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 46px;
}
h3 {
  font-size: 38px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 30px;
}
h6 {
  font-size: 26px;
}

ul {
  list-style: none;
}
p,
span,
button,
li,
label,
input,
textarea {
  font-size: 30px;
  color: black;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
}

.img-wrapper {

  background-image: url("https://source.unsplash.com/random");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
  width: 100vw;
  position: absolute;
  content: " ";
  z-index: -1;
}
.form-control {
  z-index: 1;
  font-size: 20px;
}
.text-center {
  z-index: 1;
}

.text-center {
    padding-top: 30px;
  align-content: center;
  text-align: center;
}
.intro-wrapper {
  background-color: var(--secondaryColor);
  border: 5px solid var(--borderColor);
  -webkit-box-shadow: -5px -2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px -2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -5px -2px 5px 0px rgba(0, 0, 0, 0.75);
  display: grid;
  /* for making no. of columns */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2em 28em;
  /* for assigning a row for nav and another row for both left and  right column */
  grid-template-areas: "nav nav" "left right ";
  border-radius: 5px 5px 0 0;
}
.nav-wrapper {
  height: 60px;
  border-radius: 5px 5px 0 0;
  grid-area: nav;
  border-bottom: 1px solid var(--borderColor);
  /* border: 1px dashed lightcoral; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
}
#navigation a {
  color: var(--mainText);
}
#navigation li {
    display: inline;
    /* padding: 20px 0px 5px 0px; */
    margin-right: 80px;
}

.dots-wrapper {
  display: flex;
  margin: 30px;
}
#dot1 {
  background-color: #ff3838;
}
#dot2 {
  background-color: #fffa65;
}
#dot3 {
  background-color: #20bf6b;
}
.browser-dots {
  margin: 50px;
  background-color: cyan;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  margin: 5px;
  -webkit-box-shadow: 3px -2px 9px -2px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 3px -2px 9px -2px rgba(0, 0, 0, 0.51);
  box-shadow: 3px -2px 9px -2px rgba(0, 0, 0, 0.51);
}
.btn {
  border-radius: 10px 10px;
  padding: 20px;
  /* color: black; */
  background-color: black;
  font-size: 25px;
}
